.input__text{
    border: 1px solid #cacccd;
    height: .5rem;
    font-size: 1rem;
    font-weight: 300;
    padding: $s-size;

    @media screen and (min-width: $desktop-breakpoint) {
        height: 2rem;
        font-size: 1.8rem;
        margin-right: 1rem;
    }
}