.issuesList{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    background: darken($color: #fff, $amount: 3%)
}

.issuesList__item{
    align-items: center;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
    margin: $s-size;
}

.issuesList__item--title{
    margin: $s-size 0;
}

.issuesList__message{
    font-size: 3rem;
    margin-top: 5rem;
}